.main {
    background-color: var(--color-007);
    width: 100%;
    // max-width: 62.5rem;
    max-width: 53.125rem;
    margin: 0 auto;
    padding: 2rem 2.9rem;
}

.root__container {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
}

.inputs__container {
    flex: 1;
    // background-color: lime;
}

.bill__container,
.form {
    margin-bottom: 3rem;
}

.bill__title,
.select__tip__title,
.numberOf__people__title {
    display: block;
    color: var(--color-003);
    margin-bottom: 0.3rem;
}

.select__tip__title {
    margin-bottom: 1rem;
}

.bill__input,
.numbOf__people__input {
    width: 100%;
    background-color: var(--color-006);
    text-align: right;
    padding: 0.7rem 1rem;
    border: none;
    border-radius: 5px;
    box-shadow: inset 2rem 2rem 2rem rgba(0, 0, 0, 0.0125);

    &::placeholder {
        font-size: 24px;
        color: var(--color-004);
    }
}

.input__fieldset__container {
    padding: 0;
    border: none;
}

.inputs__tip__container {
    display: grid;
    grid-template-rows: repeat(2, minmax(min-content, 1fr));
    grid-template-columns: [tip-start]  repeat(6, [tip-col-start] minmax(min-content, 5rem) [tip-col-end]) [tip-end];
    gap: 1rem;
}

.input__tip__container {
    font-size: 24px;
    text-align: center;
    border-radius: 5px;
    
    &:not(:last-child) {
        color: var(--color-006);
        background-color: var(--color-002);
        padding: 0.15em 0;
    }

    &:last-child {
        padding: 0;

        & input {
            width: 100%;
            background-color: var(--color-006);
            text-align: right;
            padding: 0.15em;
            border: none;
            border-radius: 5px;
            box-shadow: inset 2rem 2rem 2rem rgba(0, 0, 0, 0.0125);

            &::placeholder {
                color: var(--color-002);
                text-align: center;
            }

            // TODO
            &[type=text] {
                // padding-right: 1rem;
            }
        }
    }

    
    &__1,
    &__4 {
        grid-column: tip-start / tip-col-start 3;
    }

    &__2,
    &__5 {
        grid-column: tip-col-start 3 / tip-col-end 4 ;
    }

    &__3,
    &__6 {
        grid-column: tip-col-end 4 / tip-end;
    }
}
.numberOf__people__container {
    position: relative;
    // background-color: red;
}

.error__message {
    position: absolute;
    top: 0;
    right: 0;
    // left: 0;
    // background-color: blue;
}

.outputs__container {
    flex: 1;
    background-color: red;
}