@use './base' as queries;

.logo__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}


.root__container {
    background-color: var(--color-007);
    width: 100%;
    // max-width: 62.5rem;
    max-width: 53.125rem;
    margin: 0 auto;
    padding: 2rem 1.8rem 2rem 2.9rem;
    border-radius: 30px;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;

    @include queries.respond(screen-xs) {
        flex-direction: column;
    }
}


.inputs__container {
    flex: 1;
    padding: 0.8rem 0;
    // background-color: lime;
}


.bill__container,
.form {
    margin-bottom: 3rem;
}

.bill__container,
.numberOf__people__container {
    position: relative;
}

.icon__dollar,
.icon__person {
    position: absolute;
    bottom: 0;
    left: 15px;
    transform: translateY(-80%);
}


.bill__title,
.select__tip__title,
.numberOf__people__title {
    display: block;
    color: var(--color-003);
    margin-bottom: 0.3rem;
}


.select__tip__title {
    margin-bottom: 1rem;
}


.bill__input,
.numbOf__people__input {
    position: relative;
    width: 100%;
    font-size: 24px; // TODO
    background-color: var(--color-006);
    text-align: right;
    padding: 0.2rem 1rem;
    border: none;
    border-radius: 5px;
    box-shadow: inset 2rem 2rem 2rem rgba(0, 0, 0, 0.0125);
    outline: none;

    &::placeholder {
        color: var(--color-004);
    }

    &[type=text] {
        color: var(--color-002);
    }

    &:focus {
        outline: 2px solid var(--color-001);
    }
}


.input__fieldset__container {
    padding: 0;
    border: none;
}


.inputs__tip__container {
    display: grid;
    grid-template-rows: repeat(2, minmax(min-content, 1fr));
    grid-template-columns: [tip-start]  repeat(6, [tip-col-start] minmax(min-content, 5rem) [tip-col-end]) [tip-end];
    gap: 1rem;
}


.input__tip__container {
    font-size: 24px; 
    text-align: center;
    border-radius: 5px;
    cursor: pointer;

    
    &:not(:last-child) {
        color: var(--color-006);
        background-color: var(--color-002);
        padding: 0.15em 0;

            & label,
            & input {
            cursor: inherit;
        }
    }

    &:last-child {
        padding: 0;

        & input {
            width: 100%;
            background-color: var(--color-006);
            text-align: right;
            padding: 0.15em;
            border: none;
            border-radius: 5px;
            box-shadow: inset 2rem 2rem 2rem rgba(0, 0, 0, 0.0125);
            outline: none;

            &::placeholder {
                color: var(--color-002);
                text-align: center;
            }

            &[type=text] {
                color: var(--color-002);
            }

            &:focus {
                outline: 2px solid var(--color-001);
            }
        }
    }

    
    &__1,
    &__4 {
        grid-column: tip-start / tip-col-start 3;
    }

    &__2,
    &__5 {
        grid-column: tip-col-start 3 / tip-col-end 4 ;
    }

    &__3,
    &__6 {
        grid-column: tip-col-end 4 / tip-end;
    }
}


.numberOf__people__container {
    position: relative;
    // background-color: red;
}

.error__message {
    position: absolute;
    top: 0;
    right: 0;
    // left: 0;
    // background-color: blue;
}

.outputs__container {
    flex: 1;
    background-color: var(--color-002);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.5rem 2rem;
    border-radius: 15px;
}


.wrapper__amount,
.wrapper__total {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper__amount {
    margin-bottom: 3rem;
}


.wrapper__title {
    color: var(--color-006);
    font-size: 1rem;
    font-weight: 300;
}

.wrapper__person {
    color: var(--color-004);
}

.wrapper__price {
    color: var(--color-001);
    font-size: 40px;
}

